[tool.poetry]
name = "glacier-flow-model"
version = "0.1.2"
description = "Modeling glaciers flow, grounded on the glaciers mass balance and a digital elevation model (DEM)."
maintainers = ["Merlin Unterfinger <info@munterfinger.ch>"]
authors = [
    "Merlin Unterfinger <info@munterfinger.ch>",
    "Manuel Luck <admin@geoluck.ch>"]
license = "MIT"
readme = "README.rst"
homepage = "https://pypi.org/project/glacier-flow-model/"
documentation = "https://glacier-flow-model.readthedocs.io/en/latest/"
repository = "https://github.com/munterfi/glacier-flow-model"

[tool.poetry.dependencies]
python = "^3.9"
scipy = "^1.5.2"
numpy = "^1.19.2"
GDAL = "^3.1.3"
matplotlib = "^3.3.2"

[tool.poetry.dev-dependencies]
pytest = "^6.1.1"
pytest-cov = "^2.10.1"
mypy = "^0.782"
Sphinx = "^4.2.0"
flake8 = "^3.8.4"
tomlkit = "^0.7.0"
codecov = "^2.1.10"
pydata-sphinx-theme = "^0.7.0"

[mypy]
ignore_missing_imports = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
